.BuildControls{
    border-radius: 5px;
    width: 60%;
    margin: auto;
    border: 2px solid #f2f2f2;
    box-shadow: 0 2px 1px #bdbdbd;
}
/*.BuildControls{*/
/*    padding: 15px 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-flow: column;*/
/*    background-color: #7f3608;*/
/*}*/
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f3608;
    padding: 10px 15px;
    margin: auto;
    border: none;
    outline: none;
}
